In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Complete all following Task:
• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [2]:
#load the dataset
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

In [3]:
#check info of dataframe
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [4]:
#Create a DataFrame called `fare` containing only the 'Fare' column
fare = df[['Fare']]
print("Head of 'fare' DataFrame:")
print(fare.head())

Head of 'fare' DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [5]:
# Task 2: Create a DataFrame called `class_age` containing only the 'Pclass' and 'Age' columns
class_age = df[['Pclass', 'Age']]
print("\nHead of 'class_age' DataFrame:")
print(class_age.head())

Head of 'class_age' DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [6]:
# Task 3: Create a DataFrame called `survived_gender` containing only the 'Survived' and 'Sex' columns
survived_gender = df[['Survived', 'Sex']]
print("\nHead of 'survived_gender' DataFrame:")
print(survived_gender.head())

Head of 'survived_gender' DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem 2:

Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [7]:
import pandas as pd

# Load the Titanic dataset (replace the path with your actual dataset location)
df2 = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

In [8]:
# 1. Filter for passengers with fare greater than 100
fare_gt_100 = df2[df2['Fare'] > 100]
print("Passengers with fare greater than 100:")
print(fare_gt_100.head())

Passengers with fare greater than 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

In [9]:
# 2. Filter for passengers in class 1 (Pclass = 1)
first_class = df2[df2['Pclass'] == 1]
print("\nPassengers in first class (Pclass = 1):")
print(first_class)

Passengers in first class (Pclass = 1):
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

In [10]:
# 3. Filter for female passengers under 18 years old
female_under_18 = df2[(df2['Age'] < 18) & (df2['Sex'] == 'female')]
print("\nFemale passengers under 18:")
print(female_under_18.head())

Female passengers under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [11]:
# 1. Filter for passengers whose Embarked port is either "C" or "S"
embarked_c_or_s = df2[df2['Embarked'].isin(['C', 'S'])]
print("Passengers who embarked at port 'C' (Cherbourg) or 'S' (Southampton):")
print(embarked_c_or_s)

Passengers who embarked at port 'C' (Cherbourg) or 'S' (Southampton):
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]

In [12]:
# 2. Filter for passengers whose Pclass is in the list [1, 2]
first_second_class = df2[df2['Pclass'].isin([1, 2])]
print("\nPassengers in first or second class (Pclass in [1, 2]):")
print(first_second_class)

Passengers in first or second class (Pclass in [1, 2]):
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
3        0            113803  53.1000  C123        S
6        0             17463  51.8625   E46        S
9        0            237736  30.0708   NaN        C
11       0            113783  26.5500  C103        S
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[400 rows x 12 columns]

3.2 Exploratory Data Analysis Practice

 Exercise - 1.

 Answer the following questions from Dataset:
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [13]:
import pandas as pd

df2 = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

In [14]:

#Handle missing values in the Age column by filling them with the median age
median_age = df2['Age'].median()
df2['Age'] = df2['Age'].fillna(median_age)

#Add a column 'fare_per_year' (Fare divided by Age)
df2['fare_per_year'] = df2['Fare'] / df2['Age']

#Subset rows where fare_per_year > 5
high_fare_age = df2[df2['fare_per_year'] > 5]
print("Passengers with high fare paid relative to their age:")
print(high_fare_age.head())
print("\n")

#Sort the subset by descending fare_per_year
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

#Select only the 'Name' and 'fare_per_year' columns
result = high_fare_age_srt[['Name', 'fare_per_year']]

#Print the result
print("Passenger with the highest fare paid relative to their age:")
print(result.iloc[0])

Passengers with high fare paid relative to their age:
    PassengerId  Survived  Pclass  \
7             8         0       3
16           17         0       3
27           28         0       1
31           32         1       1
43           44         1       2

                                              Name     Sex   Age  SibSp  \
7                   Palsson, Master. Gosta Leonard    male   2.0      3
16                            Rice, Master. Eugene    male   2.0      4
27                  Fortune, Mr. Charles Alexander    male  19.0      3
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female  28.0      1
43        Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1

    Parch         Ticket      Fare        Cabin Embarked  fare_per_year
7       1         349909   21.0750          NaN        S      10.537500
16      1         382652   29.1250          NaN        Q      14.562500
27      2          19950  263.0000  C23 C25 C27        S      13.842105
31      0       PC 17569  146.5208          B78        C       5.232886
43      2  SC/Paris 2123   41.5792          NaN        C      13.859733


Passenger with the highest fare paid relative to their age:
Name             Allison, Master. Hudson Trevor
fare_per_year                        164.728261
Name: 305, dtype: object

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [15]:
import pandas as pd

df2 = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

# Fill missing Age values with the median
df2['Age'] = df2['Age'].fillna(df2['Age'].median())

# Step 1: Add a column 'fare_per_class'
df2['fare_per_class'] = df2['Fare'] / df2['Pclass']

#Filter adult male passengers
adult_males = df2[(df2['Sex'] == 'male') & (df2['Age'] >= 18)]
print("Adult male passengers:")
print(adult_males)

Adult male passengers:
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
12            13         0       3  Saundercock, Mr. William Henry  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5    28.0      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
12   20.0      0      0         A/5. 2151   8.0500   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

     fare_per_class
0          2.416667
4          2.683333
5          2.819433
6         51.862500
12         2.683333
..              ...
883        5.250000
884        2.350000
886        6.500000
889       30.000000
890        2.583333

[519 rows x 13 columns]

In [16]:
#Sort by descending 'fare_per_class'
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
print("Adult male passengers sorted by fare per class:")
print(adult_males_srt)

Adult male passengers sorted by fare per class:
     PassengerId  Survived  Pclass                                Name   Sex  \
737          738         1       1              Lesurer, Mr. Gustave J  male
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male
438          439         0       1                   Fortune, Mr. Mark  male
27            28         0       1      Fortune, Mr. Charles Alexander  male
118          119         0       1            Baxter, Mr. Quigg Edmond  male
..           ...       ...     ...                                 ...   ...
806          807         0       1              Andrews, Mr. Thomas Jr  male
481          482         0       2    Frost, Mr. Anthony Wood "Archie"  male
413          414         0       2      Cunningham, Mr. Alfred Fleming  male
466          467         0       2               Campbell, Mr. William  male
271          272         1       3        Tornquist, Mr. William Henry  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
737  35.0      0      0  PC 17755  512.3292         B101        C
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
438  64.0      1      4     19950  263.0000  C23 C25 C27        S
27   19.0      3      2     19950  263.0000  C23 C25 C27        S
118  24.0      0      1  PC 17558  247.5208      B58 B60        C
..    ...    ...    ...       ...       ...          ...      ...
806  39.0      0      0    112050    0.0000          A36        S
481  28.0      0      0    239854    0.0000          NaN        S
413  28.0      0      0    239853    0.0000          NaN        S
466  28.0      0      0    239853    0.0000          NaN        S
271  25.0      0      0      LINE    0.0000          NaN        S

     fare_per_class
737        512.3292
679        512.3292
438        263.0000
27         263.0000
118        247.5208
..              ...
806          0.0000
481          0.0000
413          0.0000
466          0.0000
271          0.0000

[519 rows x 13 columns]

In [17]:
#Select only 'Name', 'Age', and 'fare_per_class' columns
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

#Print the result
print("Adult male passenger with the highest fare relative to their class:")
print(result.iloc[0])

Adult male passenger with the highest fare relative to their class:
Name              Lesurer, Mr. Gustave J
Age                                 35.0
fare_per_class                  512.3292
Name: 737, dtype: object

3.3 Exploratory Data Analysis with Group-by Method Practice

 Exercise:
Based on the dataset Answer the following question:


What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [18]:
import pandas as pd

df2 = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

#Calculate the total Fare paid across all passengers
total_fare = df2['Fare'].sum()
print("Total fare paid by all passengers: ")
print(total_fare)

#Use groupby to calculate total fare per class and list is made automatically
totalFare_perClass = df2.groupby('Pclass')['Fare'].sum()
print("Total fare paid by each class: ")
print(totalFare_perClass)

#Calculate the percentage of total fare revenue by class
class_fare_percent = (totalFare_perClass / total_fare) * 100

#Display the percentage of total fare revenue by class
print("Percentage of total fare revenue from each class:")
print(class_fare_percent)

Total fare paid by all passengers:
28693.9493
Total fare paid by each class:
Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64
Percentage of total fare revenue from each class:
Pclass
1    63.349288
2    13.249629
3    23.401084
Name: Fare, dtype: float64

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [19]:
import pandas as pd

# Load the Titanic dataset
df2 = pd.read_csv("/content/drive/MyDrive/Datasets/Titanic-Dataset.csv")

#Create a new column 'age_group' that categorizes passengers
df2['age_group'] = ['child' if age < 18 else 'adult' if age < 65 else 'senior' for age in df2['Age']]

#Calculate the total number of passengers on the Titanic
total_passengers = len(df2)
print("The total number of passengers on the titanic: ")
print(total_passengers)


#Count the number of passengers in each age group
passengers_counts = df2['age_group'].value_counts()
print("The number of passengers in each age group: ")
print(passengers_counts)

#Calculate the proportion of passengers in each age group
proportion_of_passengers = (passengers_counts / total_passengers) * 100

#Display the proportion as a percentage
print("Percentage of passengers in each age group:")
print(proportion_of_passengers)

The total number of passengers on the titanic:
891
The number of passengers in each age group:
age_group
adult     590
senior    188
child     113
Name: count, dtype: int64
Percentage of passengers in each age group:
age_group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64